<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- awesone fonts css-->
    <link href="~/css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- owl carousel css-->
    <link rel="stylesheet" href="~/owl-carousel/assets/owl.carousel.min.css" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <title>KING BITCOIN</title>
    <style>
    </style>
</head>

<body>

    <div class="container-fluid gtco-features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2> COMO COMPRAR BITCOINS<br /></h2>
                    <p>
                        O processo de comprar a Bitcoin é muito simples, no site da Mercado Bitcoin, possui três passos muitos simples para realização da compra da Criptomoeda.
                        Para abertura da conta será realizado no Site do Mercado Bitcoins. Neste site irá solicitar alguns dados para realizar a abertura da conta.
                    </p>
                    <video width="320" height="240" controls>
                        <source src="~/videos/video_bitcoin.mp4" type="video/mp4">
                    </video>


                    <a href="#">HOME<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>


                <div class="col-lg-8">
                    <svg id="bg-services"
                         width="100%"
                         viewBox="0 0 1000 800">
                        <defs>
                            <linearGradient id="PSgrad_02" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                                <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1" />
                                <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1" />
                            </linearGradient>
                        </defs>
                        <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_02)"
                              d="M801.878,3.146 L116.381,128.537 C26.052,145.060 -21.235,229.535 9.856,312.073 L159.806,710.157 C184.515,775.753 264.901,810.334 338.020,792.380 L907.021,652.668 C972.912,636.489 1019.383,573.766 1011.301,510.470 L962.013,124.412 C951.950,45.594 881.254,-11.373 801.878,3.146 Z" />
                    </svg>


                    <div class="row">
                        <div class="col">
                            <div class="card text-center">
                                <h3 class="card-title">1° Passo</h3>
                                <a href="https://conta.mercadobitcoin.com.br/cadastro/">
                                    <div class="oval"><img class="card-img-top" src="~/images/web-design.png" alt="">

                                </a>
                            </div>

                            <div class="card-body">
                                <h3 class="card-title">Abrir uma conta</h3>
                                <p class="card-text">Clique no PC para abertura da conta.</p>
                            </div>
                        </div>
                        <div class="card text-center">
                            <h3 class="card-title">2° Passo</h3>
                            <div class="oval"><img class="card-img-top" src="~/images/marketing.png" alt=""></div>

                            <div class="card-body">
                                <h3 class="card-title">Adicione saldo para negociar</h3>
                                <p class="card-text">Faça uma TED ou DOC de qualquer banco e adicione saldo a sua conta.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="top: 350px">
                        <div class="card text-center">
                            <h3 class="card-title">3° Passo</h3>
                            <div class="oval"><img class="card-img-top" src="~/images/seo.png" alt=""></div>
                            <div class="card-body">
                                <h3 class="card-title">Compre o ativo desejado</h3>
                                <p class="card-text">Escolha entre nossas opções de criptomoedas ou tokens de ativos reais.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
