<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- awesone fonts css-->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- owl carousel css-->
    <link rel="stylesheet" href="owl-carousel/assets/owl.carousel.min.css" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <title>KING BITCOIN</title>
    <style>
    </style>
</head>

<body>

    <div class="container-fluid gtco-news">
        <div class="container">
            <h2>INVESTIMENTO EM BITCOIN</h2>

            <p style="display: flex;align-items: center;justify-content: center;">
                Os investimento podem ser realizado no Site abaixo, visto que nessa plataforma consta os valores a serem investido e o seu retorno.
            </p>


            <div class="owl-carousel owl-carousel2 owl-theme">
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="images/5_InvestimentoBitcoin.png" alt="">
                        <div class="card-body text-left pr-0 pl-0">
                            <h5>5% AO DIA POR 300 DIAS ÚTEIS</h5>
                            <p class="card-text">Ao realizar investimento de R$ 1.000,00 a R$ 9.999,00 poderá ter rendimento de 5% ao dia do valor investido.</p>
                            <a href="https://investimentobitcoin.com/">APLICAR<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="images/6_InvestimentoBitcoin.png" alt="">
                        <div class="card-body text-left pr-0 pl-0">
                            <h5>6% AO DIA POR 300 DIAS ÚTEIS</h5>
                            <p class="card-text">Ao realizar investimento de R$ 10.000,00 a R$ 49.999,00 poderá ter rendimento de 6% ao dia do valor investido.</p>
                            <a href="https://investimentobitcoin.com/">APLICAR<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card text-center">
                        <img class="card-img-top" src="images/7_InvestimentoBitcoin.png" alt="">
                        <div class="card-body text-left pr-0 pl-0">
                            <h5>7% AO DIA POR 300 DIAS ÚTEIS</h5>
                            <p class="card-text">Ao realizar investimento de R$ 50.000,00 a R$ 499.999,00 poderá ter rendimento de 7% ao dia do valor investido.</p>
                            <a href="https://investimentobitcoin.com/">APLICAR<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div>


                </div>
            </div>
        </div>
    </div>

</body>
</html>